#helloworld {
    position: relative;
    text-align: center;
    top: 40vw;
    z-index: -2;
}

#helloworld h2 {
    position: relative;
    font-size: 5.6vw;
    color: #161a1e;

}

#first_section {
    height: 60vw;
}

#second_section {
    position: relative;
    top: 60vw;
    background-color: #004936;
    padding: 15vw;
    height: 120vw;
}

#second_section h2 {
    color: whitesmoke;
    font-size: 6vw;
}

#second_section p {
    color: whitesmoke;
    line-height: 7vw;
    font-size: 4vw;
}

#second_section button {
    background-color: transparent;
    border-color: whitesmoke;
    padding: 4vw;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    font-size: 5vw;
    color: whitesmoke;
    position: relative;
    top: 5vw;
    left: -15.5vw;
    border: 0.1vw solid;
    transition-duration: 0.4s;
}

#second_section button:hover {
    background-color: whitesmoke;
    border-style: hidden;
    color: #004936;
}

#theird_section {
    position: relative;
    top: 60vw;
}

#portfolio {
    font-size: 6vw;
    margin-left: 15vw;
    margin-right: 15vw;
    position: relative;
    top: 10vw;

}

#portfoliotekst {
    margin-left: 15vw;
    margin-right: 15vw;
    position: relative;
    top: 6vw;
    padding-bottom: 15vw;
    font-size: 4vw;
}

#theird_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#sushispillet {
    width: 50vw;
    background-image: url(pictures/sushispillet_eksamen.svg);
    height: 50vw;

}

#sushispillet:hover {
    background-image: url(pictures/sushispilletjapan_eksamen.svg);
    width: 100%;

}

#karenrelster {
    width: 50vw;
    height: 50vw;
    background-image: url(pictures/karen_logo.svg);

}

#tshoppen {
    height: 50vw;
    background-image: url(pictures/tshoppen.svg);
}

#web1 {
    width: 50vw;
    height: 50vw;
    background-image: url(pictures/flatdesign.svg);

}

#theird_section .section_wrapper {
    visibility: visible;
}


#theird_section button {
    background-color: transparent;
    border-color: #004936;
    padding: 4vw;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    font-size: 5vw;
    color: #004936;
    position: relative;
    border: 0.1vw solid;
    transition-duration: 0.4s;
    margin-left: 15vw;
    margin-bottom: 8vw;
    top: -5vw;
}

#theird_section button:hover {
    background-color: #004936;
    border-style: hidden;
    color: whitesmoke;
}

#box_container2 img {
    background-size: contain;
    width: 90%;

}

#box_sprite2 {
    width: 40vw;
    height: 40vw;
    position: relative;
    left: 28vw;
    top: 10vw;

}

#box_sprite2 img {
    width: 43vw;
    height: 43vw;
}

.hop {
    animation-name: hop_kf;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;

}

footer p {
    position: relative;
    top: 10vw;
    font-size: 1vw;
    text-align: center;

}

@keyframes hop_kf {
    0% {
        transform: translateY(-4vw);
    }

    100% {
        transform: translateY(40vw);
        height: 39vw;

    }
}


@media only screen and (min-width: 800px) {

    #box_container2 img {
        background-size: contain;

    }

    #box_sprite2 {
        position: relative;
        left: 40vw;
        top: -12vw;
    }

    #box_sprite2 img {
        width: 20vw;
        height: 30vw;
    }



    #helloworld h2 {
        position: relative;
        font-size: 3vw;
        position: relative;
        text-align: center;
        top: -38vw;
        left: 0vw;
        z-index: -2;
    }

    #first_section {
        height: 20vw;
    }

    #second_section {
        position: relative;
        top: 25vw;
        background-color: #004936;
        padding: 10vw;
        display: grid;
        height: 28vw;
    }

    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #second_section .col {
        background-image: url(pictures/karoline_relster.jpg);
        width: 25vw;
        height: 25vw;
        border-radius: 50%;
        background-size: cover;
    }

    #second_section h2 {
        color: whitesmoke;
        font-size: 2vw;
    }

    #second_section p {
        color: whitesmoke;
        line-height: 2.5vw;
        font-size: 1.5vw;
    }

    #second_section button {
        background-color: transparent;
        border-color: whitesmoke;
        padding: 1vw;
        font-family: 'Heebo', sans-serif;
        font-weight: 900;
        font-size: 1vw;
        color: whitesmoke;
        position: relative;
        border: 0.1vw solid;
        transition-duration: 0.4s;
        top: -1vw;
    }

    #second_section button:hover {
        background-color: whitesmoke;
        border-style: hidden;
        color: #004936;

    }

    #theird_section {
        position: relative;
        top: 27vw;
        height: 0vw;
    }

    #portfolio {
        font-size: 2vw;
        margin-left: 15vw;
        margin-right: 15vw;
        position: relative;
        top: 5vw;

    }

    #portfoliotekst {
        margin-left: 15vw;
        margin-right: 15vw;
        position: relative;
        top: 5vw;
        padding-bottom: 15vw;
        line-height: 2.5vw;
        font-size: 1.5vw;
    }

    #theird_section .section_wrapper {
        display: none;

    }

    .knap1 #portfolioknap {
        padding: 1vw;
        font-family: 'Heebo', sans-serif;
        font-weight: 900;
        font-size: 1vw;
        color: ;
        position: relative;
        border: 0.1vw solid;
        transition-duration: 0.4s;
        position: relative;
        top: -11vw;

    }

    #totop {
        display: none;
    }

    footer {
        position: relative;
        top: 25vw;
        height: 0vw;
    }

    footer p {
        font-size: 1.5vw;
    }

    .hop {
        animation-name: hop_kf;
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-direction: alternate;

    }

    @keyframes hop_kf {
        0% {
            transform: translateY(-8vw);
        }

        100% {
            transform: translateY(10vw);
            height: 39vw;
        }
    }
}
