@font-face {
    font-family: 'Bulo';
    src: url('Bulo-Black.woff2') format('woff2'),
        url('Bulo-Black.woff') format('woff'),
        url('Bulo-Black.svg#Bulo-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

