h2 {
    font-size: 7vw;
    color: #004936;
    margin-left: 10vw;
    position: relative;
    top: 3vw;
}



p {
    font-size: 3vw;
    margin-left: 10vw;
    position: relative;
    text-align: left;
    margin-right: 10vw;

}

h3 {
    margin-left: 10vw;
    font-size: 4vw;

}



@media only screen and (max-width: 800px) {
    img {
        display: none;
    }
}

#theird_section {
    height: 10vw;
}

#theird_section h3 {
    color: white;
}

#theird_section {
    position: relative;
    top: 5vw;
    background-color: #004936;
    height: 110vw;
}

#theird_section .col {
    position: relative;
    top: 15vw;
}




#theird_section li {
    position: relative;
    border-style: none;
    color: white;
    top: 5vw;
    font-family: "Heebo";
    padding-bottom: 5vw;
    left: 4vw;
    width: 70vw;
    text-align: justify;

}

#fourth_section {
    position: relative;
    height: 110vw;
}

#fourth_section .col {
    position: relative;
    top: 10vw;
}

#fourth_section h2 {
    font-size: 7vw;
    line-height: 7vw;
    margin-right: 10vw;
}

footer {
    position: relative;
    top: 50vw;
}

footer p {
    position: relative;
    top: 5vw;
}

#fourth_section .section_wrapper {
    position: relative;
    top: 25vw;
    left: 20vw;
}

#kontakt h2 {
    font-size: 5vw;
    padding: 0vw;
    margin: 0vw;
    top: -5vw;
    left: 2.5vw;

}

#kontakt p {
    font-size: 3vw;
    width: 50vw;
    padding: 0vw;
    margin: 0vw;
    left: 2.5vw;
    top: -5vw;
}

.form-style-1 {
    position: relative;
    padding: 0vw;
    width: 50vw;
    transform: scale(0.9);
    top: -6vw;


}

form {
    padding: 0;
    display: block;
    list-style: none;
    margin: 1vw 0 0 0;
    color: #004936;
    font-family: "Heebo", "Heebo";

}

.form-style-1 label {
    margin: 3vw 0 0.3vw 0;
    padding: 0px;
    display: block;
    font-weight: bold;
    font-family: "Heebo";

}

.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select {
    box-sizing: border-box;
    border: 0.1vw solid #BEBEBE;
    padding: 0.7vw;
    margin: 0vw;
    transition: all 0.30s ease-in-out;
    outline: none;
}

.form-style-1 .field-divided {
    width: 100%;
    position: relative;
}

.form-style-1 input[type=text] {
    font-family: "Heebo";
    color: black;

}

.form-style-1 .field-long {
    width: 100%;
    font-family: "Heebo"

}

.form-style-1 .field-select {
    width: 100%;
    font-family: "Heebo"

}

.form-style-1 .field-textarea {
    height: 100%;
    font-family: "Heebo"

}

.button_green {
    width: 40vw;
    position: relative;
    left: -15vw;
    top: 2vw;
}


@media only screen and (min-width: 800px) {



    #first_section h2 {
        position: relative;
        top: -5vw;
    }

    #first_section p {
        position: relative;
        top: -5.6vw;
        width: 25vw;
        font-size: 1vw;
        margin-left: 7vw;
    }

    h2 {
        font-size: 2vw;
        color: #004936;
        margin-left: 7vw;
        ;
        position: relative;

    }

    h3 {
        font-size: 1.3vw;
        margin: 0vw;
    }

    #second_section {
        position: relative;
        height: 22vw;
    }

    #second_section h3 {
        position: relative;
        top: 2vw;
    }

    #second_section p {
        position: relative;
        top: 2vw;
    }

    .col #ked {
        position: relative;
        top: -15vw;
        left: 20vw;
    }


    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: 3fr 5fr;
        margin-left: 7vw;
        position: relative;
        top: -4vw;
    }

    #billederafmig {
        position: relative;
        top: 0vw;
        width: 45%;
        left: 15vw;
    }



    .col #karo3 {
        position: relative;
        width: 80%;
        left: 6vw;
        top: 0vw;
        z-index: 1;
        box-shadow: 1vw 1vw #004936;
        animation: slideommig 3s infinite;


    }

    @keyframes slideommig {
        0% {
            transform: translateX(5vw);
        }

        50% {
            transform: translateX(-5vw);

        }

        100% {
            transform: translateX(5vw);

        }
    }

    #second_section h2 {
        position: relative;
        top: -12vw;
        left: -4vw;
        color: black;

    }




    #theird_section {
        position: relative;
        top: 2vw;
        background-color: #004936;
        height: 45vw;
    }

    #theird_section .section_wrapper {
        display: grid;
        grid-template-columns: 5fr 3fr;
        margin-left: 7vw;
        margin-right: 7vw;
    }

    .col #karo2 {
        position: relative;
        width: 35%;
        top: 0vw;
    }

    .col #karo1 {
        position: relative;
        width: 35%;
        top: -15vw;
        left: 8vw;
        z-index: 1;
        box-shadow: 1vw 1vw #DDDFDE;

    }

    #theird_section .col {
        position: relative;
        top: 17vw;
        border-style: none;
        color: white;

    }

    #theird_section .col h3 {
        position: relative;
        border-style: none;
        color: white;
        top: -7.5vw;

    }

    #theird_section li {
        position: relative;
        border-style: none;
        color: white;
        top: -6.5vw;
        font-family: "Heebo";
        font-size: 1vw;
        padding-bottom: 2vw;
        left: -2vw;
        width: 23vw;
        text-align: justify;

    }


    #theird_section button {
        background-color: transparent;
        border-color: whitesmoke;
        padding: 1vw;
        font-family: 'Heebo', sans-serif;
        font-weight: 900;
        font-size: 1vw;
        color: whitesmoke;
        position: relative;
        border: 0.1vw solid;
        transition-duration: 0.4s;
        width: 11vw;
    }

    #theird_section button:hover {
        background-color: whitesmoke;
        border-style: hidden;
        color: #004936;
    }

    #prototype {
        position: relative;
        top: -12vw;
        left: -1vw;

    }

    #wireframe {
        position: relative;
        top: 1.5vw;
        left: -14vw;
    }

    #fourth_section {
        position: relative;
        top: 18vw;
        height: 30vw;


    }

    #fourth_section .col {
        position: relative;
        top: 10vw;
        height: 0vw;

    }


    #fourth_section .section_wrapper {
        display: grid;
        grid-template-columns: 3fr 5fr;
        margin-left: 7vw;
    }



    .col p {
        font-size: 1vw;
        text-align: justify;
        margin: 0vw;
        padding-right: 5vw;
    }

    footer {
        position: relative;
        top: -5vw;
        height: 0vw;
    }

    footer p {
        position: relative;
        top: 35vw;
    }

    /*------------ kontakt formular--------------*/

    #fourth_section .section_wrapper {
        position: relative;
        top: 5vw;
        left: 20vw;
    }

    #kontakt h2 {
        font-size: 1.5vw;
        width: 30vw;
        padding: 0vw;
        margin: 0vw;
        top: -25vw;
        left: 2.5vw;

    }

    #kontakt p {
        font-size: 1vw;
        padding: 0vw;
        margin: 0vw;
        left: 2.5vw;
        top: -27vw;
        text-align: justify;
    }

    .form-style-1 {
        position: relative;
        padding: 0vw;
        width: 50vw;
        transform: scale(0.9);
        top: -20vw;


    }

    form {
        padding: 0;
        display: block;
        list-style: none;
        margin: 1vw 0 0 0;
        color: #004936;
        font-family: "Heebo", "Heebo";

    }

    .form-style-1 label {
        margin: 1vw 0 0.3vw 0;
        padding: 0px;
        display: block;
        font-weight: bold;
        font-family: "Heebo";

    }

    .form-style-1 input[type=text],
    .form-style-1 input[type=date],
    .form-style-1 input[type=datetime],
    .form-style-1 input[type=number],
    .form-style-1 input[type=search],
    .form-style-1 input[type=time],
    .form-style-1 input[type=url],
    .form-style-1 input[type=email],
    textarea,
    select {
        box-sizing: border-box;
        border: 0.1vw solid #BEBEBE;
        padding: 0.7vw;
        margin: 0vw;
        transition: all 0.30s ease-in-out;
        outline: none;
    }

    .form-style-1 .field-divided {
        width: 100%;
    }

    .form-style-1 input[type=text] {
        font-family: "Heebo";
        color: black;

    }

    .form-style-1 .field-long {
        width: 100%;
        font-family: "Heebo";

    }

    .form-style-1 .field-select {
        width: 100%;
        font-family: "Heebo"

    }

    .form-style-1 .field-textarea {
        height: 100%;
        font-family: "Heebo"

    }


    .button_green {
        position: relative;
        top: 2vw;
        left: -15vw;
        width: 10vw;
    }

}
