h2 {
    font-size: 7vw;
    color: #004936;
    margin-left: 10vw;
    position: relative;
    top: 3vw;
}



p {
    font-size: 3vw;
    margin-left: 10vw;
    position: relative;
    text-align: left;
    margin-right: 10vw;

}

h3 {
    margin-left: 10vw;
    font-size: 4vw;

}



@media only screen and (max-width: 800px) {
    img {
        display: none;
    }
}


#theird_section h3 {
    color: white;
}

#theird_section {
    position: relative;
    top: 5vw;
    background-color: #004936;
    height: 140vw;
}

#theird_section .col {
    position: relative;
    top: 15vw;
}

#theird_section p {
    color: white;
}

#theird_section button {
    background-color: transparent;
    border-color: whitesmoke;
    padding: 3vw;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    font-size: 3vw;
    color: whitesmoke;
    position: relative;
    border: 0.1vw solid;
    transition-duration: 0.4s;
}

#theird_section button:hover {
    background-color: whitesmoke;
    border-style: hidden;
    color: #004936;
}

#prototype {
    position: relative;
    left: 16vw;
}

#wireframe {
    position: relative;
    left: 20vw;
    top: 4vw
}

#fourth_section {
    position: relative;
    height: 100vw;
}

#fourth_section .col {
    position: relative;
    top: 15vw;
}

#fourth_section h2 {
    font-size: 7vw;
    line-height: 7vw;
    margin-right: 10vw;
}

footer {
    height: 20vw;
}

footer p {
    position: relative;
    top: 15vw;
}

@media only screen and (min-width: 800px) {



    #first_section h2 {
        position: relative;
        top: -5vw;
    }

    #first_section p {
        position: relative;
        top: -5.6vw;
        width: 25vw;
        font-size: 1vw;
        margin-left: 7vw;
    }

    h2 {
        font-size: 2vw;
        color: #004936;
        margin-left: 7vw;
        ;
        position: relative;

    }

    h3 {
        font-size: 1.3vw;
        margin: 0vw;
    }

    #second_section {
        position: relative;
        top: vw;
        height: 35vw;
    }

    #second_section h3 {
        position: relative;
        top: 4vw;
    }

    #second_section p {
        position: relative;
        top: 4vw;
    }

    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: 3fr 5fr;
        margin-left: 7vw;
    }

    #web1 {
        width: 60%;
        position: relative;
        left: 5vw;
        top: -2vw;
    }

    #web2 {
        width: 30%;
        position: relative;
        top: 10vw;
        left: -15vw;
        z-index: 1;

    }

    #web3 {
        width: 30%;
        position: relative;
        top: -20vw;
        left: 35vw;
        z-index: 2;
    }


    #theird_section {
        position: relative;
        top: 2vw;
        background-color: #004936;
        height: 55vw;
    }

    #theird_section .section_wrapper {
        display: grid;
        grid-template-columns: 5fr 3fr;
        margin-left: 7vw;
        margin-right: 7vw;
    }

    #theird_section .col {
        position: relative;
        top: 17vw;
        border-style: none;
        color: white;

    }

    #theird_section .col h3 {
        position: relative;
        border-style: none;
        color: white;
        top: -4.5vw;

    }

    #theird_section .col p {
        position: relative;
        border-style: none;
        color: white;
        top: -4.5vw;

    }

    #web5 {
        width: 60%;
        position: relative;
        top: 0vw;
        left: 10vw;
        z-index: 2;
    }

    #web6 {
        width: 35%;
        position: relative;
        top: -7vw;
        z-index: 1;
        left: -5vw;
    }

    #web7 {
        width: 60%;
        position: relative;
        top: -30vw;
    }

    #web8 {
        width: 30%;
        position: relative;
        top: -15vw;
        left: -25vw;
        transform: rotate(90deg);


    }


    #theird_section button {
        background-color: transparent;
        border-color: whitesmoke;
        padding: 1vw;
        font-family: 'Heebo', sans-serif;
        font-weight: 900;
        font-size: 1vw;
        color: whitesmoke;
        position: relative;
        border: 0.1vw solid;
        transition-duration: 0.4s;
        width: 11vw;
    }

    #theird_section button:hover {
        background-color: whitesmoke;
        border-style: hidden;
        color: #004936;
    }

    #prototype {
        position: relative;
        top: -12vw;
        left: -1vw;

    }

    #wireframe {
        position: relative;
        top: 1.5vw;
        left: -14vw;
    }

    #fourth_section {
        position: relative;
        top: 10vw;
        height: 35vw;


    }

    #fourth_section .col {
        position: relative;
        top: 3vw;
        height: 20vw;

    }


    #fourth_section .section_wrapper {
        display: grid;
        grid-template-columns: 3fr 5fr;
        margin-left: 7vw;
    }

    #web9 {
        width: 30%;
        position: relative;
        top: -10vw;
        left: 25vw;
        box-shadow: -1vw 1vw #272B33;
        z-index: 1;
    }

    #web10 {
        width: 60%;
        position: relative;
        top: 5vw;
        left: -15vw;
    }

    #web11 {
        width: 40%;
        position: relative;
        top: -5vw;
        left: 20vw;
    }

    .col p {
        font-size: 1vw;
        text-align: justify;
        margin: 0vw;
        padding-right: 5vw;
    }

    footer {
        position: relative;
        top: -2vw;
        height: 0vw;
    }

    footer p {
        font-size: 1.5vw;
    }

}
